language: cpp
compiler:
  - gcc
  - clang
env:
  matrix:
    - TASK="build"
matrix:
  include:
    - compiler: clang
      env: TASK="test"
    - env: TASK="doc"
before_install:
  - sudo add-apt-repository ppa:v-launchpad-jochen-sprickerhof-de/pcl -y
  - sudo add-apt-repository ppa:apokluda/boost1.53 -y
  - sudo add-apt-repository ppa:yade-users/external -y
  - sudo apt-get update -d
install:
  - sudo apt-get install cmake libvtk5-qt4-dev libflann-dev libeigen3-dev libopenni-dev libqhull-dev libboost-filesystem1.53-dev libboost-iostreams1.53-dev libboost-thread1.53-dev
script:
  - bash .travis.sh
