<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>HelloPCL</string>
	<key>CFBundleExecutable</key>
	<string>HelloPCL</string>
	<key>CFBundleIconFile</key>
	<string>kiwi_icon_72.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>kiwi_icon_57.png</string>
		<string>kiwi_icon_72.png</string>
		<string>kiwi_icon_114.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.kitware.HelloPCL</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>HelloPCL</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2012062101</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>

	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Kiwi_Splash_72</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>VTK File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.vtk</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Kiwi_Splash_72</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>VTP File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.vtp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Kiwi_Splash_72</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>VTI File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.vti</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Kiwi_Splash_72</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>STL File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.stl</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Kiwi_Splash_72</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>OBJ File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.obj</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Kiwi_Splash_72</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>BYU.Movie Geometry File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.g</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Kiwi_Splash_72</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Protein Data Bank File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.pdb</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Kiwi_Splash_72</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PLY File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.ply</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Kiwi_Splash_72</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PCD File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.kitware.pcd</string>
			</array>
		</dict>
	</array>

	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VTK File</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.vtk</string>
			<key>UTTypeReferenceURL</key>
			<string>www.vtk.org/</string>
			<key>UTTypeSize64IconFile</key>
			<string>Kiwi_Splash_72</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key></key>
				<string></string>
				<key>public.filename-extension</key>
				<string>vtk</string>
				<key>public.mime-type</key>
				<string>vtk</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VTP File</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.vtp</string>
			<key>UTTypeReferenceURL</key>
			<string>www.vtk.org/</string>
			<key>UTTypeSize64IconFile</key>
			<string>Kiwi_Splash_72</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key></key>
				<string></string>
				<key>public.filename-extension</key>
				<string>vtp</string>
				<key>public.mime-type</key>
				<string>vtp</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>VTI File</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.vti</string>
			<key>UTTypeReferenceURL</key>
			<string>www.vtk.org/</string>
			<key>UTTypeSize64IconFile</key>
			<string>Kiwi_Splash_72</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key></key>
				<string></string>
				<key>public.filename-extension</key>
				<string>vti</string>
				<key>public.mime-type</key>
				<string>vti</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>STL File</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.stl</string>
			<key>UTTypeReferenceURL</key>
			<string>www.vtk.org/</string>
			<key>UTTypeSize64IconFile</key>
			<string>Kiwi_Splash_72</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key></key>
				<string></string>
				<key>public.filename-extension</key>
				<string>stl</string>
				<key>public.mime-type</key>
				<string>stl</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OBJ File</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.obj</string>
			<key>UTTypeReferenceURL</key>
			<string>www.vtk.org/</string>
			<key>UTTypeSize64IconFile</key>
			<string>Kiwi_Splash_72</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key></key>
				<string></string>
				<key>public.filename-extension</key>
				<string>obj</string>
				<key>public.mime-type</key>
				<string>obj</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>BYU.Movie Geometry File</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.g</string>
			<key>UTTypeReferenceURL</key>
			<string>www.vtk.org/</string>
			<key>UTTypeSize64IconFile</key>
			<string>Kiwi_Splash_72</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key></key>
				<string></string>
				<key>public.filename-extension</key>
				<string>g</string>
				<key>public.mime-type</key>
				<string>g</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Protein Data Bank File</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.pdb</string>
			<key>UTTypeReferenceURL</key>
			<string>www.vtk.org/</string>
			<key>UTTypeSize64IconFile</key>
			<string>Kiwi_Splash_72</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key></key>
				<string></string>
				<key>public.filename-extension</key>
				<string>pdb</string>
				<key>public.mime-type</key>
				<string>pdb</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PLY File</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.ply</string>
			<key>UTTypeReferenceURL</key>
			<string>www.vtk.org/</string>
			<key>UTTypeSize64IconFile</key>
			<string>Kiwi_Splash_72</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key></key>
				<string></string>
				<key>public.filename-extension</key>
				<string>ply</string>
				<key>public.mime-type</key>
				<string>ply</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PCD File</string>
			<key>UTTypeIdentifier</key>
			<string>com.kitware.pcd</string>
			<key>UTTypeReferenceURL</key>
			<string>www.vtk.org/</string>
			<key>UTTypeSize64IconFile</key>
			<string>Kiwi_Splash_72</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key></key>
				<string></string>
				<key>public.filename-extension</key>
				<string>pcd</string>
				<key>public.mime-type</key>
				<string>pcd</string>
			</dict>
		</dict>
	</array>

	<key>UTImportedTypeDeclarations</key>
	<array/>

</dict>
</plist>
