trigger:
  paths:
    include:
    - doc
    - README.md
    - CHANGES.md
    - CONTRIBUTING.md

pr:
  paths:
    include:
    - doc
    - README.md
    - CHANGES.md
    - CONTRIBUTING.md

resources:
  pipelines:
    - pipeline: Build-CI
      source: Build
      trigger:
        stages:
        - build_gcc
  containers:
    - container: fmt # for formatting.yaml
      image: pointcloudlibrary/fmt
    - container: doc # for documentation.yaml
      image: pointcloudlibrary/doc
    - container: env1804 # for tutorials.yaml
      image: pointcloudlibrary/env:18.04

stages:
  - stage: formatting
    displayName: Formatting
    # if docs pipeline triggered by build_gcc stage,
    # the formatting stage has already run, thus it
    # won't run for a second time here.
    condition: not(eq(variables['Build.Reason'], 'ResourceTrigger'))
    jobs:
      - template: formatting.yaml

  - stage: documentation
    displayName: Documentation
    jobs:
      - template: documentation.yaml

  - stage: tutorials
    displayName: Tutorials
    jobs:
      - template: tutorials.yaml
