resources:
  containers:
    - container: env1604
      image: pointcloudlibrary/env:16.04

jobs:
  - job: tutorials
    displayName: Tutorials
    timeoutInMinutes: 0
    pool:
      vmImage: 'Ubuntu 16.04'
    container: env1604
    variables:
      BUILD_DIR: '$(Agent.BuildDirectory)/build'
      INSTALL_DIR: '$(Agent.BuildDirectory)/install'
      CMAKE_CXX_FLAGS: '-Wall -Wextra -Wabi -O2'
      EXCLUDE_TUTORIALS: 'davidsdk,ensenso_cameras,gpu'
    steps:
      - script: |
          mkdir $BUILD_DIR && cd $BUILD_DIR
          cmake $(Build.SourcesDirectory) \
            -DCMAKE_INSTALL_PREFIX=$INSTALL_DIR \
            -DCMAKE_CXX_FLAGS="$CMAKE_CXX_FLAGS" \
            -DPCL_ONLY_CORE_POINT_TYPES=ON \
            -DPCL_NO_PRECOMPILE=ON \
            -DBUILD_surface_on_nurbs=ON \
            -DBUILD_global_tests=OFF \
            -DBUILD_tools=OFF \
            -DBUILD_examples=OFF \
            -DBUILD_outofcore=OFF \
            -DBUILD_stereo=OFF \
            -DBUILD_simulation=OFF
        displayName: 'CMake Configuration'
      - script: |
          cd $BUILD_DIR
          cmake --build . -- -j2
        displayName: 'Build Library'
      - script: |
          cd $BUILD_DIR
          cmake --build . -- install
        displayName: 'Install PCL'
      - script: |
          $(Build.SourcesDirectory)/.ci/scripts/build_tutorials.sh -k -s -e $EXCLUDE_TUTORIALS $INSTALL_DIR/share/pcl-1.9 $(Build.SourcesDirectory) $BUILD_DIR/tutorials
        displayName: 'Build Tutorials'
